body {
    background-color: #ffc0cb; /* Baby Pink background */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 25px;
}

.gif {
    height: 40%;
    width: 40%;
    position: relative;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h2 {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 1.5em;
    color: #e94d58;
    margin: 15px 0;
}

button {
    margin-top: 17px;
    width: 125px;
    height: 35px;
    background-color: #e94d58;
    color: aliceblue;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    /* cursor: pointer; */
    border: 2px solid white;
    box-shadow: 0 2px 4px gray;
    font-size: 1.2em;
    font-family: 'Caveat', cursive;
}

#message-container {
    font-family: 'Kalam', cursive;
    font-size: large;
    position: absolute;
    color: #e94d58;
    background-color: whitesmoke;
    width: absolute;
    text-align: center;
    border: 5px solid wheat;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 4px gray;
}

